$color_text: white;
$color_background: black;
$color_base: black;
$color_1: scale_color($color_base, $lightness:7%);
$color_2: scale_color($color_base, $lightness:10%);
$color_3: scale_color($color_base, $lightness:15%);
$color_4: scale_color($color_base, $lightness:20%);
$color_5: scale_color($color_base, $lightness:25%);
$color_6: scale_color($color_base, $lightness:30%);
$color_drag1: #cfe8ff;
$color_drag2: #b7d1b5;

$font-size: 12px;
$font-size-overflow: 10px;
$font-family: Arial, sans-serif;

@import "_base";
