$color_text: black !default;
$color_background: white !default;
$color_base: white !default;
$color_1: scale_color($color_base, $lightness: -3%) !default;
$color_2: scale_color($color_base, $lightness: -10%) !default;
$color_3: scale_color($color_base, $lightness: -15%) !default;
$color_4: scale_color($color_base, $lightness: -20%) !default;
$color_5: scale_color($color_base, $lightness: -25%) !default;
$color_6: scale_color($color_base, $lightness: -30%) !default;
$color_drag1: rgb(95, 134, 196) !default;
$color_drag2: rgb(119, 166, 119) !default;
$color_drag1_background: rgba(95, 134, 196, 0.1) !default;
$color_drag2_background: rgba(119, 166, 119, 0.075) !default;
$font-size: medium !default;
$font-family: Roboto, Arial, sans-serif !default;

@mixin tabset_mixin {
    background-color:var(--color-1);
}

@mixin tabset_tabbar_mixin {
    background-color:var(--color-1);
}

@mixin tabset_header_mixin {
    background-color:var(--color-1);
}

@mixin tabset_selected_mixin {
    background-image: linear-gradient(var(--color-background),var(--color-4));
}

@mixin tabset_header_mixin {
    background-color:var(--color-1);
    box-shadow: inset 0 0 3px 0 rgba(136, 136, 136, 0.54);
}

@mixin tabset_selected_mixin {
    background-image: linear-gradient(var(--color-background),var(--color-4));
}

@mixin tabset_maximized_mixin {
    background-image: linear-gradient(var(--color-6),var(--color-2));
}

@mixin tab_top_mixin {
    box-shadow: inset -2px 0px 5px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

@mixin tab_bottom_mixin {
    box-shadow: inset -2px 0px 5px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

@mixin tab_button_mixin {

}

@mixin tab_button_selected_mixin {
    background-color:var(--color-3);
    color:var(--color-text);
}

@mixin tab_button_unselected_mixin {
    color: gray;
}

@mixin tab_button_hovered_mixin {
    background-color:var(--color-3);
    color:var(--color-text);
}

@mixin close_button_hovered_mixin {
    background-color:var(--color-2);
}

@mixin toolbar_button_hovered_mixin {
    background-color:var(--color-2);
}

@mixin border_mixin {
    background-color:var(--color-1);
}

@mixin border_button_mixin {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .15);
    border-radius: 3px;
    background-color:var(--color-2);
}

@mixin border_button_selected_mixin {
    background-color:var(--color-3);
    color:var(--color-text);
}

@mixin border_button_unselected_mixin {
    color: gray;
}

@mixin border_button_hovered_mixin {
    background-color:var(--color-3);
    color:var(--color-text);
}

@mixin splitter_mixin {
    background-color:var(--color-2);
}

@mixin splitter_hover_mixin {
    background-color:var(--color-4);
}

@mixin splitter_drag_mixin {
    border-radius: 5px;
    background-color:var(--color-5);
}

@mixin splitter_border_mixin {
}


@import "_base";
