$color_text: black;
$color_background: white;
$color_base: white;
$color_1: scale_color($color_base, $lightness:-3%);
$color_2: scale_color($color_base, $lightness:-10%);
$color_3: scale_color($color_base, $lightness:-15%);
$color_4: scale_color($color_base, $lightness:-20%);
$color_5: scale_color($color_base, $lightness:-25%);
$color_6: scale_color($color_base, $lightness:-30%);
$color_drag1: red;
$color_drag2: green;

$font-size: 14px;
$font-family: 'Roboto',Arial, sans-serif;

@import "_base";
