html,body
{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    font-size: medium;
    font-family: Roboto, Arial, sans-serif; 
}

.toolbar_control {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.drag-from {
    background-color: #dce7f4;
    border-radius:5px;
    color: black;
}

#container  {
    left:10px;
    top:10px;
    right:10px;
    bottom:10px;
    position:absolute;
    display:flex;
    overflow:hidden;
    background-color: #f2f6fb;
    border-radius:10px;
}

::-webkit-scrollbar { width: 8px; height: 8px;}
::-webkit-scrollbar-button {  background-color: #e7ebf1; }
::-webkit-scrollbar-track {  background-color: #e7ebf1;}
::-webkit-scrollbar-track-piece { background-color: #e7ebf1;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #d5deeb; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #e7ebf1;}
::-webkit-resizer { background-color: #e7ebf1;}

.app
{
    display:flex;
    flex-direction: column;
    flex-grow:1;
}

.toolbar
{
    margin:2px;
    display: flex;
    align-items:center;
    padding-left:5px;
    padding-right:5px;
}

.contents
{
    flex-grow:1;
    position:relative;
    border:5px solid transparent;
    display:flex;
}

/* simple_bundled table styling*/
.simple_table {
    background-color: white;
    color: #333;
    border-collapse: collapse;
}

.simple_table th {
    background-color: #dce5f2;
    border-right: 1px solid #ddd;
    padding:4px;
    border-bottom-color: transparent;
    text-align: left;
    width:100px;
    min-width: 100px;
}

.simple_table td {
    border-right: 1px solid #ddd;
    border-bottom-color: transparent;
    padding:4px;
}
.simple_table tr:nth-child(even) {background: #ebeff3}
.simple_table tr:nth-child(odd) {background: white}

