html,
body {
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family:
        system-ui,
        -apple-system,
        Arial,
        sans-serif;
    scrollbar-width: thin;
    color-scheme: light;
}

.app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.toolbar {
    margin: 2px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
}

.toolbar_control {
    border-radius: 5px;
    border: 1px solid lightgray;
}

.tab_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    position: absolute;
    display: flex;
    /* overflow: hidden; */
    background-color: white;
}

.contents {
    display: flex;
    flex-grow: 1;
    position: relative;
    border: 1px solid #ddd;
}

.drag-from {
    background-color: lightgray;
    color: black;
    border-radius: 5px;
}

.greenClass {
    background-color: #eeffee;
}

.blueClass {
    background-color: #eeeeff;
}

.simple_table {
    border-collapse: collapse;
    font-size: 14px;
}

.simple_table th {
    padding: 8px;
    text-align: left;
    width: 150px;
    min-width: 150px;
}

.simple_table td {
    padding: 6px;
}

.flexlayout__theme_light,
.flexlayout__theme_alpha_light,
.flexlayout__theme_gray,
.flexlayout__theme_underline,
.flexlayout__theme_rounded,
.flexlayout__theme_alpha_rounded {
    .simple_table th {
        border-right: 1px solid #d9d9db;
    }

    .simple_table td {
        border-top: 1px solid #d9d9db;
    }
}

.flexlayout__theme_dark,
.flexlayout__theme_alpha_dark {
    html,
    body {
        color: lightgray;
        background-color: black;
        color-scheme: dark;
    }

    .toolbar_control {
        color: lightgray;
        background-color: black;
        border: 1px solid #444;
    }

    .drag-from {
        background-color: #666;
        color: white;
    }

    #container {
        background-color: black;
    }

    .contents {
        border: 1px solid gray;
    }

    .simple_table th {
        border-right: 1px solid #333;
    }

    .simple_table td {
        border-top: 1px solid #333;
    }
}

.flexlayout__theme_rounded,
.flexlayout__theme_alpha_rounded {
    .drag-from {
        background-color: #e2e8f0;
        color: #1e293b;
    }

    #container {
        background-color: #e9eef6;
        border-radius: 12px;
    }

    .toolbar {
        padding-left: 8px;
        padding-right: 8px;
    }

    .contents {
        border: 6px solid transparent;
    }
}

.showLayout .flexlayout__row {
    margin: 5px;
    border: 3px solid blue;
    border-radius: 5px;
}

.showLayout .flexlayout__tabset {
    margin: 5px;
    border: 3px solid orange;
    border-radius: 5px;
}
