.container {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    display:flex;
    flex-direction: column;
}
.tab_content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
